<%- include('../template/header.ejs'); -%>

  <div class="container mt-5">
    <p class="display-6 text-center">
        Cliquer <a href="/">ICI</a> Pour Aller à la Page d'accueil
    </p>
  </div>

<%- include('../template/footer.ejs'); -%>